@import "../../sass/abstract/mixin";

.container{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
    min-height: calc(100vh - 9rem);
    column-count: 4;
    column-gap: 2rem;
    
    @include respond(laptop){
        column-count: 3;
    }
    @include respond(tablet){
        column-gap: 1rem;
        max-width: 90%;
    }
    @include respond(phone){
        column-count: 2;
    }
    @include respond(big-desktop){
        column-count: 6;
    }
}